- name: "amir20/dozzle:latest"
  platform:
    os: "linux"
    arch: "arm64"
- name: "henrygd/beszel-agent:latest"
  platform:
    os: "linux"
    arch: "arm64"
- name: "mpgirro/pihole-unbound"
  platform:
    os: "linux"
    arch: "arm64"
