---
title: "Homepage"

headerStyle: "clean"
language: "en"

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true

disableCollapse: true
useEqualHeights: true
hideVersion: true
disableIndexing: true

layout:
  FirstRow:
    header: false
    style: "row"
    columns: 5

    Administration:
      style: "columns"

    Services:
      style: "columns"

    Media:
      style: "columns"

    Acquisition:
      style: "columns"

    Backend:
      style: "columns"
