---
- FirstRow:
    - Administration:
        - Beszel:
            icon: "beszel"
            href: "https://beszel.{{ config_domain_base }}"
            server: "local-docker"
            container: "beszel"

        - Dozzle:
            icon: "dozzle"
            href: "https://dozzle.{{ config_domain_base }}"
            server: "local-docker"
            container: "dozzle"

        - Pihole:
            icon: "pi-hole-unbound"
            href: "https://pihole.{{ config_domain_base }}"
            ping: "netserver.lan"

        - Traefik:
            icon: "traefik"
            href: "https://traefik.{{ config_domain_base }}"
            server: "local-docker"
            container: "traefik"

        - Backrest:
            icon: "backrest"
            href: "https://backrest.{{ config_domain_base }}"
            server: "local-docker"
            container: "backrest"

        - Databasus:
            icon: "postgresus"
            href: "https://databasus.{{ config_domain_base }}"
            server: "local-docker"
            container: "databasus"

        - Ntfy:
            icon: "ntfy"
            href: "https://ntfy.{{ config_domain_base }}"
            server: "local-docker"
            container: "ntfy"

        - LLDAP:
            icon: "lldap"
            href: "https://lldap.{{ config_domain_base }}"
            server: "local-docker"
            container: "lldap"

        - Authelia:
            icon: "authelia"
            href: "https://authelia.{{ config_domain_base }}"
            server: "local-docker"
            container: "authelia"

    - Services:
        - Paperless:
            icon: "paperless"
            href: "https://paperless.{{ config_domain_base }}"
            server: "local-docker"
            container: "paperless"

        - Immich:
            icon: "immich"
            href: "https://immich.{{ config_domain_base }}"
            server: "local-docker"
            container: "immich"

        - Syncthing:
            icon: "syncthing"
            href: "https://syncthing.{{ config_domain_base }}"
            server: "local-docker"
            container: "syncthing"

        - Stirlingpdf:
            icon: "stirling-pdf"
            href: "https://stirlingpdf.{{ config_domain_base }}"
            server: "local-docker"
            container: "stirlingpdf"

    - Media:
        - Jellyfin:
            icon: "jellyfin"
            href: "https://jellyfin.{{ config_domain_base }}"
            server: "local-docker"
            container: "jellyfin"

        - CWA:
            icon: "calibre-web"
            href: "https://cwa.{{ config_domain_base }}"
            server: "local-docker"
            container: "cwa"

        - Audiobookshelf:
            icon: "audiobookshelf"
            href: "https://audiobookshelf.{{ config_domain_base }}"
            server: "local-docker"
            container: "audiobookshelf"

        - Navidrome:
            icon: "navidrome"
            href: "https://navidrome.{{ config_domain_base }}"
            server: "local-docker"
            container: "navidrome"

    - Acquisition:
        - Jellyseerr:
            icon: "jellyseerr"
            href: "https://jellyseerr.{{ config_domain_base }}"
            server: "local-docker"
            container: "jellyseerr"

        - Shelfmark:
            icon: "calibre-web-automated-book-downloader"
            href: "https://shelfmark.{{ config_domain_base }}"
            server: "local-docker"
            container: "shelfmark"

        - Metube:
            icon: "metube"
            href: "https://metube.{{ config_domain_base }}"
            server: "local-docker"
            container: "metube"

    - Backend:
        - Radarr:
            icon: "radarr"
            href: "https://radarr.{{ config_domain_base }}"
            server: "local-docker"
            container: "radarr"

        - Sonarr:
            icon: "sonarr"
            href: "https://sonarr.{{ config_domain_base }}"
            server: "local-docker"
            container: "sonarr"

        - Prowlarr:
            icon: "prowlarr"
            href: "https://prowlarr.{{ config_domain_base }}"
            server: "local-docker"
            container: "prowlarr"

        - Bazarr:
            icon: "bazarr"
            href: "https://bazarr.{{ config_domain_base }}"
            server: "local-docker"
            container: "bazarr"

        - QBittorrent:
            icon: "qbittorrent"
            href: "https://qbittorrent.{{ config_domain_base }}"
            server: "local-docker"
            container: "qbittorrent"
