AUTHENTICATION_SOURCES = ['oauth2', 'internal']
OAUTH2_AUTO_CREATE_USER = True
OAUTH2_CONFIG = [{
	'OAUTH2_NAME': 'Authelia',
	'OAUTH2_DISPLAY_NAME': 'Authelia',
	'OAUTH2_CLIENT_ID': 'pgadmin',
	'OAUTH2_CLIENT_SECRET': '{{ config_authelia_client_secret_pgadmin_plain }}',
	'OAUTH2_API_BASE_URL': 'https://authelia.{{ container_domain_base }}',
	'OAUTH2_AUTHORIZATION_URL': 'https://authelia.{{ container_domain_base }}/api/oidc/authorization',
	'OAUTH2_TOKEN_URL': 'https://authelia.{{ container_domain_base }}/api/oidc/token',
	'OAUTH2_USERINFO_ENDPOINT': 'https://authelia.{{ container_domain_base }}/api/oidc/userinfo',
	'OAUTH2_SERVER_METADATA_URL': 'https://authelia.{{ container_domain_base }}/.well-known/openid-configuration',
	'OAUTH2_SCOPE': 'openid email profile',
	'OAUTH2_USERNAME_CLAIM': 'email',
	'OAUTH2_ICON': 'fa-openid',
	'OAUTH2_BUTTON_COLOR': '<button-color>',
	'OAUTH2_CHALLENGE_METHOD': 'S256',
	'OAUTH2_RESPONSE_TYPE': 'code'
}]

MASTER_PASSWORD_REQUIRED = False
