[cleanup]
keep_last = 50

[server]
port = 8080
hostname = "http://podsync:8080"
bind_address = "*"
web_ui = false

[storage]
  [storage.local]
  data_dir = "/app/data/"

[tokens]
youtube = "{{ config_podsync_youtube_api_key }}"

[downloader]
self_update = true
timeout = 15

[feeds]
  [feeds.viidith22]
  url = "https://www.youtube.com/channel/UCG0n2_EiM7pIoNtUICZRu-g"
  page_size = 3
  update_period = "12h"
  quality = "high"
  format = "audio"
  filters = { min_duration = 300, max_duration = 14400, max_age = 14, min_age = 1 }

  [feeds.darksomnium]
  url = "https://www.youtube.com/channel/UC_e39rWdkQqo5-LbiLiU10g"
  page_size = 3
  update_period = "12h"
  quality = "high"
  format = "audio"
  filters = { min_duration = 300, max_duration = 14400, max_age = 14, min_age = 1 }
