radarr:
  radarr-main:
    base_url: "http://radarr:{{ config_webui_port.radarr }}"
    api_key: "{{ config_recyclarr_radarr_key  }}"

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - template: radarr-quality-definition-movie
      - template: radarr-custom-formats-anime
      - template: radarr-quality-profile-anime
      - config: radarr-custom-formats-uhd-bluray-web-german.yml
      - config: radarr-quality-profile-uhd-bluray-web-german.yml
  
    custom_formats:
      - trash_ids:
          - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
        assign_scores_to:
          - name: German (UHD Bluray + WEB)
          - name: German or English (UHD Bluray + WEB)

sonarr:
  sonarr-main:
    base_url: "http://sonarr:{{ config_webui_port.sonarr }}"
    api_key: "{{ config_recyclarr_sonarr_key }}"

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-custom-formats-anime
      - template: sonarr-v4-quality-profile-anime
      - config: sonarr-v4-custom-formats-uhd-bluray-web-german.yml
      - config: sonarr-v4-quality-profile-uhd-bluray-web-german.yml

    custom_formats:
      - trash_ids:
          - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
        assign_scores_to:
          - name: German (UHD Bluray + WEB)
          - name: German or English (UHD Bluray + WEB)
