# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

# accessLog: {}
ping: {}

log:
  level: "INFO" # DEBUG, INFO, WARN, ERROR

global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  disableDashboardAd: true

providers:
  docker:
    endpoint: "{{ config_docker_proxy_host }}"
    exposedByDefault: false
    network: "traefik"
  file:
    directory: "/etc/traefik/dynamic"

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
          permanent: true
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: "cloudflare"
    asDefault: true
    transport:
      respondingTimeouts:
        readTimeout: "600s"
        idleTimeout: "600s"
        writeTimeout: "600s"

certificatesResolvers:
  cloudflare:
    acme:
      email: "{{ config_traefik_acme_email }}"
      storage: "/certs/acme.json"
      dnsChallenge:
        provider: "cloudflare"
        resolvers: ["1.1.1.1:53", "8.8.8.8:53"]

experimental:
  plugins:
    sablier:
      moduleName: "github.com/sablierapp/sablier-traefik-plugin"
      version: "v1.1.0"
