# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

http:
  routers:
    pihole:
      rule: "Host(`pihole.{{ config_domain_base }}`)"
      middlewares:
        - "pihole-dashboard-redirect"
      service: "pihole"

  middlewares:
    # FIX: For some reason not working 
    pihole-dashboard-redirect:
      redirectRegex:
        regex: "^/$"
        replacement: "/admin"
        permanent: "true"
    sablier:
      plugin:
        sablier:
          sablierUrl: "http://sablier:10000"
          group: "default"
          dynamic:
            displayName: "..."

  services:
    pihole:
      loadBalancer:
        servers:
          - url: "https://netserver.lan"
        serversTransport: "pihole-insecure-ssl@file"

  serversTransports:
    pihole-insecure-ssl:
      insecureSkipVerify: "true"
