---
# NOTE: Unused as of now
# --------------------- #
- name: maintainance | Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  tags: [never, maintainance]

- name: maintainance | Upgrade packages
  ansible.builtin.apt:
    upgrade: dist
  tags: [never, maintainance]

- name: maintainance | Prune containers, images, networks, volumes and builder_cache
  community.docker.docker_prune:
    containers: true
    containers_filters:
      until: 15m
    images: true
    images_filters:
      util: 168h
      dangling: true
    networks: true
    networks_filter:
      until: 15m
    volumes: true
    builder_cache: true
  tags: [never, maintainance]

- name: maintainance | Select compose files
  ansible.builtin.set_fact:
    container_list_compose_files:
      "{{ container_list_compose_files | default([]) + [item | string + '.compose.yml'] }}"
  loop: "{{ container_list }}"
  tags: [never, maintainance, compose_maintain]

- name: maintainance | Run docker compose pull with all found compose files
  community.docker.docker_compose_v2_pull:
    project_src: "{{ container_path_compose }}"
    files: "{{ container_list_compose_files }}"
    project_name: services
  tags: [never, maintainance, compose_maintain]
