---
theme: "auto"

log:
  level: "info" # info, debug, trace

authentication_backend:
  password_change:
    disable: true
  password_reset:
    disable: true
    custom_url: ""
  refresh_interval: "1m"
  ldap:
    implementation: "lldap"
    address: "ldap://lldap:3890"
    base_dn: "DC={{ services_domain_base_seperate.sld }},DC={{ services_domain_base_seperate.tld }}"
    user: "UID=authelia_bind_user,OU=people,DC={{ services_domain_base_seperate.sld }},DC={{ services_domain_base_seperate.tld }}"
    password: "{{ services_authelia_lldap_user_pass }}"

access_control:
  default_policy: "deny"
  rules:
    - domain: "paperless.{{ services_domain_base }}"
      policy: "bypass"
      resources:
      - "^/api([/?].*)?$"
      - "^/static/frontend/en-US/manifest.webmanifest$"
    - domain: "beszel.{{ services_domain_base }}"
      policy: "bypass"
      resources:
      - "^/api([/?].*)?$"
    - domain: "*.{{ services_domain_base }}"
      policy: "one_factor"
#      subject: ["group:admin"]
#      # networks: "{{ services_lan.network }}{{ services_lan.cidr }}"
#    - domain:
#        - "jellyfin.{{ services_domain_base }}"
#        - "jellyseer.{{ services_domain_base }}"
#        - "cwa.{{ services_domain_base }}"
#        - "cwad.{{ services_domain_base }}"
#        - "paperless.{{ services_domain_base }}"
#      policy: one_factor
#      subject: ["group:user"]
#      # networks: "{{ services_lan.network }}{{ services_lan.cidr }}"

session:
  secret: "{{ services_authelia_session_secret }}"
  inactivity: "5m"
  expiration: "1d"
  remember_me: "3M"
  redis:
    host: "redis"
    port: 6379
    database_index: 1
  cookies:
    - domain: "{{ services_domain_base }}"
      authelia_url: "https://authelia.{{ services_domain_base }}"
      default_redirection_url: "https://homepage.{{ services_domain_base }}"

regulation:
  modes:
  - "ip"

storage:
  encryption_key: "{{ services_authelia_storage_key }}"
  postgres:
    address: "tcp://postgres:5432"
    database: "authelia"
    username: "authelia"
    password: "{{ services_authelia_db_pass }}"

notifier:
  disable_startup_check: false
  filesystem:
    filename: "/config/notification.txt"

server:
  endpoints:
    authz:
      forward-auth:
        implementation: "ForwardAuth"

identity_providers:
  oidc:
    hmac_secret: "{{ services_authelia_hmac_secret }}"
    jwks:
      - algorithm: "RS256"
        use: "sig"
        key: |
          {{ services_authelia_jwks_rs256 | trim | indent(10) }}
    authorization_policies:
      default:
        default_policy: "deny"
        rules:
          - policy: "one_factor"
            subject: "group:admin"
          - policy: "one_factor"
            subject: "group:user"
    clients:
      - client_id : "beszel"
        client_name: "Beszel"
        client_secret: "{{ services_authelia_client_secret_beszel }}"
        authorization_policy: one_factor
        redirect_uris:
          - "https://beszel.{{ services_domain_base }}/api/oauth2-redirect"
        require_pkce: true
        pkce_challenge_method: "S256"
        scopes:
          - "openid"
          - "email"
          - "profile"

