---
- Admin:
    - Beszel:
        icon: beszel
        href: "https://beszel.{{ services_domain_base }}"
        server: local-docker
        container: beszel
        widget:
          type: beszel
          url: "http://beszel:{{ services_webui_port.beszel }}"
          username: "{{ services_beszel_user }}"
          password: "{{ services_beszel_pass }}"
          systemId: pn326lg1axy991d
          fields: ["cpu", "memory", "disk", "network"]
          version: 2

    - Dozzle:
        icon: dozzle
        href: "https://dozzle.{{ services_domain_base }}"
        server: local-docker
        container: dozzle

    - Ntfy:
        icon: ntfy
        href: "https://ntfy.{{ services_domain_base }}"
        server: local-docker
        container: ntfy

    - Whats-up-docker:
        icon: whats-up-docker
        href: "https://wud.{{ services_domain_base }}"
        server: local-docker
        container: wud
        widget:
          type: whatsupdocker
          url: "http://wud:{{ services_webui_port.wud }}"
          # username: username # optional
          # password: password # optional

    - Pihole:
        icon: pi-hole-unbound
        href: "https://pihole.{{ services_domain_base }}"
        server: local-docker
        container: pihole
        widget:
          type: pihole
          url: "http://host.docker.internal:{{ services_webui_port.pihole }}"
          version: 6

    - Traefik:
        icon: traefik
        href: "https://traefik.{{ services_domain_base }}"
        server: local-docker
        container: traefik
        widget:
          type: traefik
          url: "http://traefik:{{ services_webui_port.traefik_webinternal }}"
          username: "{{ services_traefik_user }}"
          password: "{{ services_traefik_pass }}"

- Services:
    - Paperless:
        icon: paperless
        href: "https://paperless.{{ services_domain_base }}"
        server: local-docker
        container: paperless
        widget:
          type: paperlessngx
          url: "http://paperless:{{ services_webui_port.paperless }}"
          username: "{{ services_paperless_user }}"
          password: "{{ services_paperless_pass }}"

    # - Pyload:
    #     icon: pyload
    #     href: "https://pyload.{{ services_domain_base }}"
    #     server: local-docker
    #     container: pyload
    #   widget:
    #     type: pyload
    #     url: "pyload:{{ services_webui_port.pyload }}"
    #     username: "{{ services_pyload_user }}"
    #     password: "{{ services_pyload_pass }}"

    - Syncthing:
        icon: syncthing
        href: "https://syncthing.{{ services_domain_base }}"
        server: local-docker
        container: syncthing

- Media:
    - Frontend:
        - Jellyfin:
            icon: jellyfin
            href: "https://jellyfin.{{ services_domain_base }}"
            description: Media server
            server: local-docker
            container: jellyfin
            widget:
              type: jellyfin
              url: "http://jellyfin:{{ services_webui_port.jellyfin }}"
              key: "{{ services_jellyfin_key }}"
              fields: ["movies", "series", "episodes"]
              enableBlocks: true # optional, defaults to false
              enableNowPlaying: true # optional, defaults to true
              enableUser: true # optional, defaults to false
              enableMediaControl: false # optional, defaults to true
              showEpisodeNumber: true # optional, defaults to false
              expandOneStreamToTwoRows: true # optional, defaults to true

        - Jellyseerr:
            icon: jellyseerr
            href: "https://jellyseerr.{{ services_domain_base }}"
            description: Media search
            server: local-docker
            container: jellyseerr
            widget:
              type: jellyseerr
              url: "http://jellyseerr:{{ services_webui_port.jellyseerr }}"
              fields: ["pending", "approved", "available", "issues"]
              key: "{{ services_jellyseerr_key }}"

        - CWA:
            icon: calibre-web
            href: "https://cwa.{{ services_domain_base }}"
            server: local-docker
            container: cwa
            widget:
              type: calibreweb
              url: "http://cwa:{{ services_webui_port.cwa }}"
              username: "{{ services_calibre_user }}"
              password: "{{ services_calibre_pass }}"

        - CWAD:
            icon: calibre-web-automated-book-downloader
            href: "https://cwad.{{ services_domain_base }}"
            server: local-docker
            container: cwad

    - Backend:
        - Radarr:
            icon: radarr
            href: "https://radarr.{{ services_domain_base }}"
            server: local-docker
            container: radarr
            widget:
              type: radarr
              url: "http://radarr:{{ services_webui_port.radarr }}"
              key: "{{ services_radarr_key }}"
              enableQueue: true # optional, defaults to false

        - Sonarr:
            icon: sonarr
            href: "https://sonarr.{{ services_domain_base }}"
            server: local-docker
            container: sonarr
            widget:
              type: sonarr
              url: "http://sonarr:{{ services_webui_port.sonarr }}"
              key: "{{ services_sonarr_key }}"
              enableQueue: true # optional, defaults to false

        - Prowlarr:
            icon: prowlarr
            href: "https://prowlarr.{{ services_domain_base }}"
            server: local-docker
            container: prowlarr
            widget:
              type: prowlarr
              url: "http://prowlarr:{{ services_webui_port.prowlarr }}"
              key: "{{ services_prowlarr_key }}"

        - Bazarr:
            icon: bazarr
            href: "https://bazarr.{{ services_domain_base }}"
            server: local-docker
            container: bazarr
            widget:
              type: bazarr
              url: "http://bazarr:{{ services_webui_port.bazarr }}"
              key: "{{ services_bazarr_key }}"

        - QBittorrent:
            icon: qbittorrent
            href: "https://qbittorrent.{{ services_domain_base }}"
            server: local-docker
            container: qbittorrent
            widget:
              type: qbittorrent
              url: "http://gluetun:{{ services_webui_port.qbittorrent }}"
              username: "{{ services_qbittorrent_user }}"
              password: "{{ services_qbittorrent_pass }}"
              enableLeechProgress: true # optional, defaults to false
              enableLeechSize: true # optional, defaults to false

        # - Gluetun:
        #     icon: gluetun
        #     server: local-docker
        #     container: gluetun
        #     widget:
        #       type: gluetun
        #       url: "http://gluetun"
        #       fields: ["public_ip", "region", "country", "port_forwarded"]
        #       key: gluetunkey # Not required if /v1/publicip/ip endpoint is configured with `auth = none`
        #       version: 2 # optional, default is 1
