---
title: Homepage

headerStyle: clean
language: en

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true

layout:
  Admin:
    style: row
    columns: 6

  Services:
    style: row
    columns: 2

  Media:
    style: column

    Frontend:
      style: row
      columns: 4

    Backend:
      style: row
      columns: 6
