---
- FirstRow:
  - Monitor:
    - Beszel:
        icon: beszel
        href: "https://beszel.{{ services_domain_base }}"
        server: local-docker
        container: beszel

    - Dozzle:
        icon: dozzle
        href: "https://dozzle.{{ services_domain_base }}"
        server: local-docker
        container: dozzle

    - Pihole:
        icon: pi-hole-unbound
        href: "https://pihole.{{ services_domain_base }}"
        ping: netserver.lan

    - Traefik:
        icon: traefik
        href: "https://traefik.{{ services_domain_base }}"
        server: local-docker
        container: traefik

  - Admin:
    # - WUD:
    #     icon: whats-up-docker
    #     href: "https://wud.{{ services_domain_base }}"
    #     server: local-docker
    #     container: wud

    - Ntfy:
        icon: ntfy
        href: "https://ntfy.{{ services_domain_base }}"
        server: local-docker
        container: ntfy

    - LLDAP:
        icon: lldap
        href: "https://lldap.{{ services_domain_base }}"
        server: local-docker
        container: lldap

    - Authelia:
        icon: authelia
        href: "https://authelia.{{ services_domain_base }}"
        server: local-docker
        container: authelia

  - Services:
    - Paperless:
        icon: paperless
        href: "https://paperless.{{ services_domain_base }}"
        server: local-docker
        container: paperless

    - Syncthing:
        icon: syncthing
        href: "https://syncthing.{{ services_domain_base }}"
        server: local-docker
        container: syncthing

  - MediaFrontend:
    - Jellyfin:
        icon: jellyfin
        href: "https://jellyfin.{{ services_domain_base }}"
        server: local-docker
        container: jellyfin

    - Jellyseerr:
        icon: jellyseerr
        href: "https://jellyseerr.{{ services_domain_base }}"
        server: local-docker
        container: jellyseerr

    - CWA:
        icon: calibre-web
        href: "https://cwa.{{ services_domain_base }}"
        server: local-docker
        container: cwa

    - CWAD:
        icon: calibre-web-automated-book-downloader
        href: "https://cwad.{{ services_domain_base }}"
        server: local-docker
        container: cwad

  - MediaBackend:
    - Radarr:
        icon: radarr
        href: "https://radarr.{{ services_domain_base }}"
        server: local-docker
        container: radarr

    - Sonarr:
        icon: sonarr
        href: "https://sonarr.{{ services_domain_base }}"
        server: local-docker
        container: sonarr

    - Prowlarr:
        icon: prowlarr
        href: "https://prowlarr.{{ services_domain_base }}"
        server: local-docker
        container: prowlarr

    - Bazarr:
        icon: bazarr
        href: "https://bazarr.{{ services_domain_base }}"
        server: local-docker
        container: bazarr

    - QBittorrent:
        icon: qbittorrent
        href: "https://qbittorrent.{{ services_domain_base }}"
        server: local-docker
        container: qbittorrent
