---
- Homelab:
    - Selfh.st:
        - abbr: SH
          href: https://selfh.st/apps/
          icon: sh-selfh-st
    - Github:
        - abbr: GH
          href: https://github.com/dashboard
          icon: github
