---
title: Homepage
description: Finally at home.

headerStyle: clean
language: en

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true

layout:
  Monitoring:
    style: row
    columns: 4

  Media:
    style: column
    columns: 2

    Frontend:
      style: row
      columns: 4

    Backend:
      style: row
      columns: 6

  Services:
    style: row
    columns: 3

  System:
    style: row
    columns: 2
