---
title: Homepage

headerStyle: clean
language: en

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true

layout:
    Admin:
      style: row
      columns: 4

    Services:
      style: row
      columns: 2

    Media:
      style: row
      columns: 5
