network:
  version: 2
  ethernets:
    enp0s31f6:
      dhcp4: no
      dhcp6: no
      addresses:
        - 192.168.0.100/24
        - fd42:1234:5678::1/64
      routes:
        - to: 0.0.0.0/0
          via: 192.168.0.1
      nameservers:
        addresses:
          - 127.0.0.1
          - fd42:1234:5678::1
