radarr:
  radarr-main:
    base_url: "{{ services_domain.radarr }}"
    api_key: "{{ services_radarr_key }}"

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - template: radarr-quality-definition-movie
      - template: radarr-custom-formats-uhd-bluray-web-german
      - template: radarr-quality-profile-uhd-bluray-web-german
      - template: radarr-custom-formats-anime
      - template: radarr-quality-profile-anime

    quality_profiles:
      - name: UHD Bluray + WEB (GER)
      # min_format_score: 10000 # Uncomment this line to skip English Releases
    custom_formats:
      - trash_ids:
          - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
        assign_scores_to:
          - name: UHD Bluray + WEB (GER)

sonarr:
  sonarr-main:
    base_url: "{{ services_domain.sonarr }}"
    api_key: "{{ services_sonarr_key }}"

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-custom-formats-uhd-bluray-web-german
      - template: sonarr-v4-quality-profile-uhd-bluray-web-german
      - template: sonarr-v4-custom-formats-anime
      - template: sonarr-v4-quality-profile-anime

    quality_profiles:
      - name: UHD Bluray + WEB (GER)
        # min_format_score: 10000 # Uncomment this line to skip English Releases
      - trash_ids:
          - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
        assign_scores_to:
          - name: UHD Bluray + WEB (GER)
