quality_profiles:
  - name: German (UHD Bluray + WEB)
    reset_unmatched_scores:
      enabled: true
    score_set: german
    upgrade:
      allowed: true
      until_quality: Merged QPs
      until_score: 35000
    min_format_score: 10000
    quality_sort: top
    qualities:
      - name: Merged QPs
        qualities:
          - Bluray-2160p
          - WEBDL-2160p
          - WEBRip-2160p
          - Bluray-1080p
          - WEBDL-1080p
          - WEBRip-1080p
          - Bluray-720p
          - WEBDL-720p
          - WEBRip-720p
  - name: German or English (UHD Bluray + WEB)
    reset_unmatched_scores:
      enabled: true
    score_set: german
    upgrade:
      allowed: true
      until_quality: Merged QPs
      until_score: 35000
    min_format_score: 0
    quality_sort: top
    qualities:
      - name: Merged QPs
        qualities:
          - Bluray-2160p
          - WEBDL-2160p
          - WEBRip-2160p
          - Bluray-1080p
          - WEBDL-1080p
          - WEBRip-1080p
          - Bluray-720p
          - WEBDL-720p
          - WEBRip-720p
