interface {{ netserver_lan.interface }}
{
  AdvSendAdvert on;
  MinRtrAdvInterval 30;
  MaxRtrAdvInterval 100;

  prefix {{ netserver_lan.ipv6.prefix }}{{ netserver_lan.ipv6.cidr }}
  {
    AdvOnLink on;
    AdvAutonomous on;
  };
  RDNSS {{ netserver_lan.ipv6.addr }}
  {
    AdvRDNSSLifetime 7200;
  };
};
