interface {{ netserver_lan.interface }}
{
  AdvSendAdvert on;
  IgnoreIfMissing on;
  AdvDefaultPreference high;

  MinRtrAdvInterval 3;
  MaxRtrAdvInterval 10;


  prefix {{ netserver_lan.ipv6.prefix }}{{ netserver_lan.ipv6.cidr }}
  {
    AdvOnLink on;
    AdvAutonomous on;
    AdvPreferredLifetime 3600;
    AdvValidLifetime 7200;
  };

  RDNSS {{ netserver_lan.ipv6.addr }}
  {
    AdvRDNSSLifetime 7200;
  };

  route ::/0
  {
    AdvRoutePreference high;
    AdvRouteLifetime 1800;
  };
};
