---
- name: pihole | Disable systemd-resolved stub listener and set dns servers
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: "{{ item.regex }}"
    line: "{{ item.line }}"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  loop:
    - regex: "^#?DNS="
      line: "DNS={{ netserver_lan.ipv4.dns }}"
    - regex: "^#?FallbackDNS="
      line: "FallbackDNS=dns.mullvad.net"
    - regex: "^#?DNSStubListener="
      line: "DNSStubListener=no"
  notify: Restart systemd-resolved
  tags: [netserver]
  when: false # Not present on raspbian

- name: pihole | Set NTP to pihole
  ansible.builtin.lineinfile:
    path: /etc/systemd/timesyncd.conf
    regexp: "{{ item.regex }}"
    line: "{{ item.line }}"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  loop:
    - regex: "^#?NTP="
      line: "NTP={{ netserver_lan.ipv4.dns }}"
    - regex: "^#?FallbackNTP="
      line: "#FallbackNTP="
  notify: Restart systemd-timesyncd
  tags: [netserver]

  # HACK: All of the following are temporary solutions for ISP Router

- name: pihole | Configure RDNSS Advertisment
  ansible.builtin.template:
    src: radvd.conf.j2
    dest: /etc/radvd.conf
    owner: root
    group: root
    mode: "0644"
  notify: Start and enable radvd
  tags: [netserver]

- name: pihole | Ensure radvd dameon is on
  ansible.builtin.lineinfile:
    path: /etc/default/radvd
    line: RUN_DAEMON="yes"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  notify: Start and enable radvd
  tags: [netserver]
