---
- name: pihole | Disable systemd-resolved stub listener and set dns servers
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: "{{ item.regex }}"
    line: "{{ item.line }}"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  loop:
    - regex: "^#?DNS="
      line: "DNS={{ netserver_lan.ipv4.dns }}"
    - regex: "^#?FallbackDNS="
      line: "FallbackDNS=dns.mullvad.net"
    - regex: "^#?DNSStubListener="
      line: "DNSStubListener=no"
  notify: Restart systemd-resolved
  tags: [netserver]
  when: false # Not present on raspbian

- name: pihole | Set NTP to pihole
  ansible.builtin.lineinfile:
    path: /etc/systemd/timesyncd.conf
    regexp: "{{ item.regex }}"
    line: "{{ item.line }}"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  loop:
    - regex: "^#?NTP="
      line: "NTP={{ netserver_lan.ipv4.dns }}"
    - regex: "^#?FallbackNTP="
      line: "#FallbackNTP="
  notify: Restart systemd-timesyncd
  tags: [netserver]
