services:
  authelia:
    image: docker.io/authelia/authelia:latest

    labels:
      traefik.enable: true
      traefik.http.routers.authelia.rule: Host(`authelia.{{ services_domain_base }}`)
      traefik.http.services.authelia.loadbalancer.server.port: "{{ services_webui_port.authelia }}"

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"

    volumes:
      - "{{ services_path.authelia }}:/config"

    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

    container_name: authelia
    hostname: authelia
    restart: unless-stopped

    networks:
      - traefik
      - postgres
      - redis
