services:
  bazarr:
    image: "lscr.io/linuxserver/bazarr:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.bazarr.rule: Host(`bazarr.{{ services_domain_base }}`)
      traefik.http.services.bazarr.loadbalancer.server.port: "{{ services_webui_port.bazarr }}"
      traefik.http.routers.bazarr.middlewares: authelia@docker

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"

    volumes:
      - "{{ services_path.bazarr }}:/config"
      - "{{ services_path.media }}/library:/media/library"

    container_name: "bazarr"
    hostname: "bazarr"
    restart: "unless-stopped"

    networks:
      - "traefik"
