name: beszel-agent

services:
  beszel-agent:
    image: henrygd/beszel-agent-intel:latest

    environment:
      LOG_LEVEL: info # debug, info, warn, error
      LISTEN: 45876
      KEY: "{{ services_beszel_key }}"
      TOKEN: "{{ services_beszel_token }}"
      HUB_URL: "{{ services_domain.beszel }}"

    volumes:
      - "{{ services_path.beszel.agent }}:/var/lib/beszel-agent"
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/run/systemd/private:/var/run/systemd/private:ro
      - /mnt/ssd1/.beszel:/extra-filesystems/sdc1__ssd1:ro
      - /mnt/hdd1/.beszel:/extra-filesystems/sda1__hdd1:ro
      - /mnt/hdd2/.beszel:/extra-filesystems/sdb1__hdd2:ro
      - /etc/localtime:/etc/localtime:ro

    devices:
      - /dev/dri/card1:/dev/dri/card1
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd

    cap_add:
      - CAP_PERFMON
      - SYS_RAWIO
      - SYS_ADMIN

    container_name: beszel-agent
    hostname: beszel-agent
    restart: unless-stopped

    network_mode: "host"
