services:
  beszel:
    image: "henrygd/beszel:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.beszel.rule: Host(`beszel.{{ services_domain_base }}`)
      traefik.http.services.beszel.loadbalancer.server.port: "{{ services_webui_port.beszel }}"
      traefik.http.routers.beszel.middlewares: "authelia@docker"

      dev.dozzle.group: "Admin"

    environment:
      APP_URL: "https://beszel.{{ services_domain_base }}"
      DISABLE_PASSWORD_AUTH: true
      USER_CREATION: true
      USER_EMAIL: "{{ services_beszel_user }}"
      USER_PASSWORD: "{{ services_beszel_pass }}"

    volumes:
      - "{{ services_path.beszel.data }}:/beszel_data"
      - "/etc/localtime:/etc/localtime:ro"

    healthcheck:
      test: ["CMD", "/beszel", "health", "--url", "http://localhost:8090"]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    container_name: "beszel"
    hostname: "beszel"
    restart: "unless-stopped"

    networks:
      - "traefik"
