services:
  beszel-agent:
    image: "{{ beszel_agent_image }}"

    labels:
      dev.dozzle.group: "Backend"

    environment:
      LOG_LEVEL: "debug" # debug, info, warn, error
{% if inventory_hostname == "homeserver_main" %}
      DOCKER_HOST: "tcp://localhost:2375"
{% endif %}
      LISTEN: "45876"
      HUB_URL: "https://beszel.{{ services_domain_base }}"
      KEY: "{{ services_beszel_key }}"
      TOKEN: "{{ services_beszel_token }}"
      DISK_USAGE_CACHE: "24h"
{% if inventory_hostname == "netserver_main" %}
      SKIP_GPU: ture
{% endif %}

    volumes:
      - "{{ services_path.beszel.agent }}:/var/lib/beszel-agent"
      - "/var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro"
      - "/etc/localtime:/etc/localtime:ro"
{% if inventory_hostname == "netserver_main" %}
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
      # NOTE: Use ansible facts for device names
{% if inventory_hostname == "homeserver_main" %}
      - "/mnt/ssd1/.beszel:/extra-filesystems/sdc1__ssd1:ro"
      - "/mnt/hdd1/.beszel:/extra-filesystems/sda1__hdd1:ro"
      - "/mnt/hdd2/.beszel:/extra-filesystems/sdb1__hdd2:ro"

    devices:
      - "/dev/dri/card1:/dev/dri/card1"
      - "/dev/sda:/dev/sda"
      - "/dev/sdb:/dev/sdb"
      - "/dev/sdc:/dev/sdc"
      - "/dev/sdd:/dev/sdd"

    security_opt:
      - apparmor:unconfined

    cap_add:
      - "CAP_PERFMON"
      - "SYS_RAWIO"
      - "SYS_ADMIN"
{% endif %}

    healthcheck:
      test: ["CMD", "/agent", "health"]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    container_name: "beszel-agent"
    hostname: "beszel-agent"
    restart: "unless-stopped"

    network_mode: "host"
