services:
  cwa:
    image: "crocodilestick/calibre-web-automated:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.cwa.rule: Host(`cwa.{{ services_domain_base }}`)
      traefik.http.services.cwa.loadbalancer.server.port: "{{ services_webui_port.cwa }}"
      traefik.http.routers.cwa.middlewares: authelia@docker

      dev.dozzle.group: "Frontend"

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"
      CWA_PORT_OVERRIDE: "{{ services_webui_port.cwa }}"

    volumes:
      - "{{ services_path.calibre.config }}:/config"
      - "{{ services_path.calibre.ingest }}:/cwa-book-ingest"
      - "{{ services_path.calibre.library }}:/calibre-library"

    container_name: "cwa"
    hostname: "cwa"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "lldap"
