name: cwad

services:
  cwad:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest

    environment:
      UID: "{{ services_puid }}"
      GID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"
      LOGLEVEL: info # debug, info, warning, error, critical
      FLASK_PORT: "{{ services_webui_port.cwad }}"
      BOOK_LANGUAGE: de,en
      USE_BOOK_TITLE: true
      CALIBRE_WEB_URL: "{{ services_domain.cwa }}"

    volumes:
      - "{{ services_path.calibre.ingest }}:/cwa-book-ingest"

    depends_on:
      gluetun:
        condition: service_healthy
        restart: true

    healthcheck:
      disable: true

    container_name: cwad
    restart: unless-stopped

    network_mode: "container:gluetun"
