name: flaresolverr

services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest

    environment:
      TZ: "{{ services_timezone }}"
      LOG_LEVEL: info # debug, info

    container_name: flaresolverr
    hostname: flaresolverr
    restart: unless-stopped

    networks:
      - flaresolverr

networks:
  flaresolverr:
    external: true
    name: flaresolverr
