name: gotenberg

services:
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25

    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

    volumes:
      - /etc/localtime:/etc/localtime:ro

    container_name: gotenberg
    hostname: gotenberg
    restart: unless-stopped

    networks:
      - gotenberg

networks:
  gotenberg:
    external: true
    name: gotenberg
