services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest

    labels:
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`homepage.{{ services_domain_base }}`)
      traefik.http.services.homepage.loadbalancer.server.port: "{{ services_webui_port.homepage }}"

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"
      LOG_LEVEL: debug # info, debug
      HOMEPAGE_ALLOWED_HOSTS: "homepage.{{ services_domain_base }}"

    volumes:
      - "{{ services_path.homepage }}:/app/config"

    healthcheck:
      disable: true

    extra_hosts:
      - host.docker.internal:172.25.0.1

    container_name: homepage
    hostname: homepage
    restart: unless-stopped

    networks:
      - traefik
      - docker-proxy
