services:
  jellyfin:
    image: "lscr.io/linuxserver/jellyfin:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.{{ services_domain_base }}`)
      traefik.http.services.jellyfin.loadbalancer.server.port: "{{ services_webui_port.jellyfin }}"
      # traefik.http.routers.jellyfin.middlewares: authelia@docker

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"
      DOCKER_MODS: "linuxserver/mods:jellyfin-opencl-intel"

    volumes:
      - "{{ services_path.jellyfin }}:/config"
      - "{{ services_path.media }}/library:/media/library"

    devices:
      - "/dev/dri:/dev/dri"

    container_name: "jellyfin"
    hostname: "jellyfin"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "lldap"
