services:
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest

    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: Host(`jellyseerr.{{ services_domain_base }}`)
      traefik.http.routers.jellyseerr.entrypoints: websecure
      traefik.http.services.jellyseerr.loadbalancer.server.port: "{{ services_webui_port.jellyseerr }}"

    environment:
      TZ: "{{ services_timezone }}"
      LOG_LEVEL: info # info, debug
      DB_TYPE: postgres
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: jellyseerr
      DB_USER: jellyseerr
      DB_PASS: "{{ services_jellyseerr_db_pass }}"

    volumes:
      - "{{ services_path.jellyseerr }}:/app/config"

    user: "{{ services_puid }}:{{ services_pgid }}"

    init: true

    depends_on:
      postgres:
        condition: service_healthy

    container_name: jellyseerr
    hostname: jellyseerr
    restart: unless-stopped

    networks:
      - traefik
      - postgres
