services:
  jellyseerr:
    image: "ghcr.io/fallenbagel/jellyseerr:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: Host(`jellyseerr.{{ services_domain_base }}`)
      traefik.http.services.jellyseerr.loadbalancer.server.port: "{{ services_webui_port.jellyseerr }}"
      traefik.http.routers.jellyseerr.middlewares: authelia@docker, sablier@docker

      sablier.enable: true
      sablier.group: "default"
      traefik.docker.allownonrunning: true

    environment:
      TZ: "{{ services_timezone }}"
      LOG_LEVEL: "info # info, debug"
      DB_TYPE: "postgres"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_NAME: "jellyseerr"
      DB_USER: "jellyseerr"
      DB_PASS: "{{ services_jellyseerr_db_pass }}"

    volumes:
      - "{{ services_path.jellyseerr }}:/app/config"

    user: "{{ services_puid }}:{{ services_pgid }}"

    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:5055/api/v1/status",
        ]
      interval: "60s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    init: true

    depends_on:
      postgres:
        condition: "service_healthy"

    container_name: "jellyseerr"
    hostname: "jellyseerr"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "postgres"
