{% if services_list | select('in', services_bridge_networks + services_internal_networks) | length > 0 %}
networks:
{% if 'flaresolverr' in services_list %}
  flaresolverr:
    external: true
    name: "flaresolverr"
{% endif %}
{% if 'recyclarr' in services_list %}
  recyclarr:
    external: true
    name: "recyclarr"
{% endif %}
{% if 'samba' in services_list %}
  samba:
    external: true
    name: "samba"
{% endif %}
{% if 'traefik' in services_list %}
  traefik:
    external: true
    name: "traefik"
{% endif %}
{% if 'docker-proxy' in services_list %}
  docker-proxy:
    external: true
    name: "docker-proxy"
{% endif %}
{% if 'gotenberg' in services_list %}
  gotenberg:
    external: true
    name: "gotenberg"
{% endif %}
{% if 'lldap' in services_list %}
  lldap:
    external: true
    name: "lldap"
{% endif %}
{% if 'postgres' in services_list %}
  postgres:
    external: true
    name: "postgres"
{% endif %}
{% if 'redis' in services_list %}
  redis:
    external: true
    name: "redis"
{% endif %}
{% if 'tika' in services_list %}
  tika:
    external: true
    name: "tika"
{% endif %}
{% endif %}
