services:
  ntfy:
    image: "binwiederhier/ntfy:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.ntfy.rule: Host(`ntfy.{{ services_domain_base }}`)
      traefik.http.services.ntfy.loadbalancer.server.port: "{{ services_webui_port.ntfy }}"
      traefik.http.routers.ntfy.middlewares: authelia@docker

    environment:
      TZ: "{{ services_timezone }}"
      NTFY_BEHIND_PROXY: "true"
      NTFY_BASE_URL: "https://ntfy.{{ services_domain_base }}"
      NTFY_LISTEN_HTTP: ":{{ services_webui_port.ntfy }}"

    volumes:
      - "{{ services_path.ntfy.cache }}:/var/cache/ntfy"
      - "{{ services_path.ntfy.data }}:/etc/ntfy"

    user: "{{ services_puid }}:{{ services_pgid }}"

    command:
      - "serve"

    container_name: "ntfy"
    hostname: "ntfy"
    restart: "unless-stopped"

    networks:
      - "traefik"
