services:
  pyload:
    image: lscr.io/linuxserver/pyload-ng:latest

    labels:
      traefik.enable: true
      traefik.http.routers.pyload.rule: Host(`pyload.{{ services_domain_base }}`)
      traefik.http.routers.pyload.entrypoints: websecure
      traefik.http.services.pyload.loadbalancer.server.port: "{{ services_webui_port.pyload }}"

    environment:
      PUID: "{{ services_puid }}"
      PGID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"

    volumes:
      - "{{ services_path.pyload.config }}:/config"
      - "{{ services_path.pyload.downloads }}:/downloads"

    container_name: pyload
    hostname: pyload
    restart: unless-stopped

    networks:
      - traefik
