services:
  recyclarr:
    image: "ghcr.io/recyclarr/recyclarr:latest"

    environment:
      TZ: "{{ services_timezone }}"

    volumes:
      - "{{ services_path.recyclarr }}:/config:ro"

    security_opt: ["no-new-privileges:true"]
    user: "{{ services_puid }}:{{ services_pgid }}"

    container_name: "recyclarr"
    hostname: "recyclarr"
    restart: "unless-stopped"

    networks:
      - "recyclarr"
