services:
  sablier:
    image: sablierapp/sablier:1.11.0

    labels:
      dev.dozzle.group: "Backend"

    environment:
      LOGGING_LEVEL: "info" # info, debug
      DOCKER_HOST: "{{ services_docker_proxy_host }}"
      PROVIDER_NAME: "docker"
      PROVIDER_NAME_STRATEGY: "stop"
      SERVER_PORT: 10000
      SERVER_BASE_PATH: "/"
      STORAGE_FILE: ""
      SESSIONS_DEFAULT_DURATION: "1h"
      SESSIONS_EXPIRATION_INTERVAL: "5m"
      STRATEGY_DYNAMIC_CUSTOM_THEMES_PATH: ""
      STRATEGY_DYNAMIC_SHOW_DETAILS_BY_DEFAULT: true
      STRATEGY_DYNAMIC_DEFAULT_THEME: "ghost"
      STRATEGY_DYNAMIC_DEFAULT_REFRESH_FREQUENCY: "5s"
      STRATEGY_BLOCKING_DEFAULT_TIMEOUT: "1m"

    volumes:
      - "/etc/localtime:/etc/localtime:ro"

    container_name: "sablier"
    hostname: "sablier"
    restart: "unless-stopped"

    networks:
      - "sablier"
      - "docker-proxy"
