services:
  shelfmark:
    image: "ghcr.io/calibrain/shelfmark:latest"

    labels:
      dev.dozzle.group: "Frontend"

    environment:
      UID: "{{ services_puid }}"
      GID: "{{ services_pgid }}"
      TZ: "{{ services_timezone }}"
      LOGLEVEL: "info" # debug, info, warning, error, critical
      FLASK_PORT: "{{ services_webui_port.shelfmark }}"
      BOOK_LANGUAGE: "de,en"
      USE_BOOK_TITLE: "true"
      CALIBRE_WEB_URL: "https://cwa.{{ services_domain_base }}"
      INGEST_DIR: "/cwa-book-ingest"

    volumes:
      - "{{ services_path.shelfmark }}:/config"
      - "{{ services_path.calibre.ingest }}:/cwa-book-ingest"
      # - "{{ services_path.media }}:/media"

    depends_on:
      gluetun:
        condition: "service_healthy"

    healthcheck:
      test: [ "CMD", "curl", "-sf", "http://localhost:8084/api/health" ]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    container_name: "shelfmark"
    restart: "unless-stopped"

    network_mode: "service:gluetun"
