services:
  traefik:
    image: "traefik:v3.6"

    environment:
      TZ: "{{ services_timezone }}"
      CF_DNS_API_TOKEN: "{{ services_cf_dns_api_token }}" # NOTE: Use secrets
      DOCKER_HOST: "{{ services_docker_proxy_host }}"

    labels:
      traefik.enable: true

      # Dashboard
      traefik.http.routers.traefik.rule: Host(`traefik.{{ services_domain_base }}`) && PathPrefix(`/dashboard`) || Host(`traefik.{{ services_domain_base }}`) && PathPrefix(`/api`) || Host(`traefik.{{ services_domain_base }}`) && Path(`/`)
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.middlewares: authelia@docker,traefik-dashboard-redirect
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.regex: "^/$"
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.replacement: "/dashboard/"
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.permanent: "true"

      # Wildcard cert configuration
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.tls.certresolver: "cloudflare"
      traefik.http.routers.traefik.tls.domains[0].main: "{{ services_domain_base }}"
      traefik.http.routers.traefik.tls.domains[0].sans: "*.{{ services_domain_base }}"

      # App Labels
      dev.dozzle.group: "Admin"

    volumes:
      - "{{ services_path.traefik }}/acme.json:/certs/acme.json:rw"
      - "{{ services_path.traefik }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ services_path.traefik }}/dynamic:/etc/traefik/dynamic:rw"
      - "{{ services_path.traefik }}/plugins:/plugins-storage"

    ports:
      - "80:80"
      - "443:443"

    security_opt: [ "no-new-privileges:true" ]
    user: "{{ services_puid }}:{{ services_pgid }}"

    depends_on:
      docker-proxy:
        condition: "service_healthy"
      # Middleware dependencies
      authelia:
        condition: "service_started"
      sablier:
        condition: "service_started"

    healthcheck:
      test: [ "CMD", "traefik", "healthcheck" ]
      interval: "60s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "5s"

    container_name: "traefik"
    hostname: "traefik"
    restart: "unless-stopped"

    extra_hosts:
      - "host.docker.internal:{{ services_traefik_network.gateway }}"

    networks:
      traefik:
        ipv4_address: "{{ services_traefik_network.traefik }}"
      docker-proxy:
      lldap:
      sablier:
