services:
  traefik:
    image: traefik:v3.6

    environment:
      TZ: "{{ services_timezone }}"
      CF_DNS_API_TOKEN: "{{ services_cf_dns_api_token }}"
      DOCKER_HOST: "{{ services_docker_proxy_host }}"

    labels:
      traefik.enable: true

      # External route
      traefik.http.routers.traefik.rule: Host(`traefik.{{ services_domain_base }}`) && PathPrefix(`/dashboard`) || Host(`traefik.{{ services_domain_base }}`) && PathPrefix(`/api`) || Host(`traefik.{{ services_domain_base }}`) && Path(`/`)
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.middlewares: dashboard-redirect

      # External route redirect base path to dashboard
      traefik.http.middlewares.dashboard-redirect.redirectregex.regex: ^/$
      traefik.http.middlewares.dashboard-redirect.redirectregex.replacement: /dashboard/

      # Wildcard cert configuration via external route
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.tls.certresolver: cloudflare
      traefik.http.routers.traefik.tls.domains[0].main: "{{ services_domain_base }}"
      traefik.http.routers.traefik.tls.domains[0].sans: "*.{{ services_domain_base }}"

      # Internal route api web
      traefik.http.routers.traefik-internal.rule: ClientIP(`172.25.0.0/16`) && PathPrefix(`/api`)
      traefik.http.routers.traefik-internal.entrypoints: web-internal
      traefik.http.routers.traefik-internal.service: api@internal

    volumes:
      - "{{ services_path.traefik }}/acme.json:/certs/acme.json:rw"
      - "{{ services_path.traefik }}/traefik.yml:/etc/traefik/traefik.yml:ro"

    ports:
      - "80:80"
      - "443:443"

    security_opt: ["no-new-privileges:true"]
    user: "{{ services_puid }}:{{ services_pgid }}"

    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 60s
      start_interval: 5s

    container_name: traefik
    hostname: traefik
    restart: unless-stopped

    extra_hosts:
      - host.docker.internal:172.25.0.1

    networks:
      - traefik
      - docker-proxy
