---
- name: container_compose | Select compose files
  ansible.builtin.set_fact:
    container_list_compose_files:
      "{{ container_list_compose_files | default([]) + [item | string + '.compose.yml'] }}"
  loop: "{{ container_list }}"
  tags: [container, container_compose, container_files_and_compose]

# - name: container_compose | Select include files
#   ansible.builtin.set_fact:
#     container_compose_includes_files:
#       "{{ container_compose_includes_files | default([]) + [item | string + '.include.yml'] }}"
#   loop: "{{ container_compose_includes }}"
#   tags: [container, container_compose, container_files_and_compose]

- name: container_compose | Run docker compose with all found compose files
  community.docker.docker_compose_v2:
    project_src: "{{ container_path_compose }}"
    files: "{{ container_list_compose_files }}"
    # files: "{{ container_list_compose_files + container_compose_includes_files }}"
    project_name: services
    state: present
  tags: [container, container_compose, container_files_and_compose]
