---
- name: container_compose | Select compose files
  ansible.builtin.set_fact:
    container_list_compose_files:
      "{{ container_list_compose_files | default([]) + [item | string + '.compose.yml'] }}"
  loop: "{{ container_list }}"
  tags: [container, container_compose, container_files_and_compose]

- name: container_compose | Run docker compose with all found compose files
  community.docker.docker_compose_v2:
    project_src: "{{ container_path_compose }}"
    files: "{{ container_list_compose_files }}"
    # env_files: "env"
    project_name: services
    state: present
  tags: [container, container_compose, container_files_and_compose]
