interface {{ homeserver_lan.interface }}
{
  AdvSendAdvert on;
  IgnoreIfMissing on;
  AdvDefaultPreference high;

  MinRtrAdvInterval 3;
  MaxRtrAdvInterval 10;

  prefix {{ homeserver_lan.ipv6.prefix }}{{ homeserver_lan.ipv6.cidr }}
  {
    AdvOnLink on;
    AdvAutonomous on;
    AdvPreferredLifetime 3600;
    AdvValidLifetime 7200;
  };

  RDNSS {{ homeserver_lan.ipv6.addr }}
  {
    AdvRDNSSLifetime 7200;
  };
};
