data d1 /mnt/hdd1/
data d2 /mnt/hdd2/
parity /mnt/parity1/snapraid.parity
content /mnt/ssd1/.snapraid/snapraid.content
content /mnt/hdd1/.snapraid/snapraid.content
content /mnt/hdd2/.snapraid/snapraid.content
