---
- name: configs | Ensure traefik acme.json exists
  ansible.builtin.copy:
    content: ""
    dest: "{{ config_path.traefik }}/acme.json"
    force: false
    owner: user
    group: user
    mode: "0600"
  when: "'traefik' in config_list"
  tags: [services, configs]

- name: configs | Render jinja config templates locally
  ansible.builtin.template:
    src: "{{ role_path }}/templates/config/{{ item.service }}-{{ item.file }}.j2"
    dest: "{{ playbook_dir }}/.ansible/configs/{{ item.file }}"
    mode: "0640"
    owner: user
    group: user
  when: item.service in config_list
  loop:
    - service: homepage
      file: docker.yaml
    - service: homepage
      file: services.yaml
    - service: homepage
      file: settings.yaml
    - service: recyclarr
      file: recyclarr.yml
    - service: recyclarr
      file: radarr-quality-profile-uhd-bluray-web-german.yml
    - service: recyclarr
      file: sonarr-v4-quality-profile-uhd-bluray-web-german.yml
    - service: traefik
      file: traefik.yml
    - service: traefik
      file: dynamic.yml
    - service: authelia
      file: configuration.yml
    - service: diun
      file: external.yml
  delegate_to: localhost
  tags: [services, configs]

- name: configs | Copy locally rendered compose templates to remote
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/.ansible/configs/{{ item.file }}"
    dest: "{{ config_path[item.service] }}/{{ item.path }}"
    mode: "0640"
    owner: "{{ config_username }}"
    group: "{{ config_username }}"
  when: item.service in config_list
  loop:
    - service: homepage
      file: docker.yaml
      path: docker.yaml
    - service: homepage
      file: services.yaml
      path: services.yaml
    - service: homepage
      file: settings.yaml
      path: settings.yaml
    - service: recyclarr
      file: recyclarr.yml
      path: recyclarr.yml
    - service: recyclarr
      file: radarr-quality-profile-uhd-bluray-web-german.yml
      path: includes/radarr-quality-profile-uhd-bluray-web-german.yml
    - service: recyclarr
      file: sonarr-v4-quality-profile-uhd-bluray-web-german.yml
      path: includes/sonarr-v4-quality-profile-uhd-bluray-web-german.yml
    - service: traefik
      file: traefik.yml
      path: traefik.yml
    - service: authelia
      file: configuration.yml
      path: configuration.yml
    - service: diun
      file: external.yml
      path: external.yml
  tags: [services, configs]

- name: configs | Copy locally rendered traefik templates to remote
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/.ansible/configs/{{ item.file }}"
    dest: "/tmp/{{ item.service }}-{{ item.file }}"
    mode: "0644"
    owner: "{{ config_username }}"
    group: "{{ config_username }}"
  when: item.service in config_list
  register: config_traefik_changed
  loop:
    - service: traefik
      file: dynamic.yml
  tags: [services, configs]

- name: configs | Atomically move traefik configs into traefiks dynamic directory
  ansible.builtin.command:
    "cp /tmp/{{ item.service }}-{{ item.file }} {{ config_path.traefik }}/{{ item.path }}/{{
    item.file }}"
  when:
    - config_traefik_changed is defined
    - config_traefik_changed.changed
    - item.service in config_list
  changed_when: true
  loop:
    - service: traefik
      file: dynamic.yml
      path: dynamic
  tags: [services, configs]
