services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest

    labels:
      traefik.enable: true
      traefik.http.routers.audiobookshelf.rule: Host(`audiobookshelf.{{ container_domain_base }}`)
      traefik.http.services.audiobookshelf.loadbalancer.server.port: "80"
      traefik.http.routers.audiobookshelf.middlewares: authelia@docker

      dev.dozzle.group: Media

    environment:
      TZ: "{{ container_tz }}"
      SSRF_REQUEST_FILTER_WHITELIST: podsync
      PODCAST_DOWNLOAD_TIMEOUT: 1800000 # equals 30 minutes in ms

    volumes:
      - "{{ container_path.audiobookshelf.config }}:/config"
      - "{{ container_path.audiobookshelf.metadata }}:/metadata"
      - "{{ container_path.audiobookshelf.cache }}:/metadata/cache"
      - "{{ container_path.audiobookshelf.streams }}:/metadata/streams"
      - "{{ container_path.media }}/library/audiobooks:/audiobooks:ro"
      - "{{ container_path.media }}/library/podcasts:/podcasts"

    security_opt: [ no-new-privileges:true ]
    user: "{{ container_puid }}:{{ container_pgid }}"

    healthcheck:
      test: [ CMD, wget, -q, --tries=1, --spider, http://127.0.0.1:80/healthcheck ]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: audiobookshelf
    hostname: audiobookshelf
    restart: unless-stopped

    networks:
      - traefik
      - podsync

networks:
  traefik:
    external: true
    name: traefik
  podsync:
    external: true
    name: podsync
