services:
  audiobookshelf:
    image: "ghcr.io/advplyr/audiobookshelf:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.audiobookshelf.rule: Host(`audiobookshelf.{{ container_domain_base }}`)
      traefik.http.services.audiobookshelf.loadbalancer.server.port: "80"
      traefik.http.routers.audiobookshelf.middlewares: "authelia@docker"

      dev.dozzle.group: "Media"

    environment:
      TZ: "{{ container_tz }}"

    volumes:
      - "{{ container_path.audiobookshelf.config }}:/config"
      - "{{ container_path.audiobookshelf.metadata }}:/metadata"
      - "{{ container_path.media }}/library/audiobooks:/audiobooks"

    security_opt: [ "no-new-privileges:true" ]
    user: "{{ container_puid }}:{{ container_pgid }}"

    container_name: "audiobookshelf"
    hostname: "audiobookshelf"
    restart: "unless-stopped"

    networks:
      - "traefik"

networks:
  traefik:
    external: true
    name: "traefik"
