services:
  cwa:
    image: "crocodilestick/calibre-web-automated:dev" # :latest"

    labels:
      traefik.enable: true
      traefik.http.routers.cwa.rule: Host(`cwa.{{ container_domain_base }}`)
      traefik.http.services.cwa.loadbalancer.server.port: "{{ container_webui_port.cwa }}"
      traefik.http.routers.cwa.middlewares: authelia@docker

      dev.dozzle.group: "Frontend"

    environment:
      PUID: "{{ container_puid }}"
      PGID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      CWA_PORT_OVERRIDE: "{{ container_webui_port.cwa }}"
      HARDCOVER_TOKEN: "{{ container_cwa_hardcover_token }}"

    volumes:
      - "{{ container_path.calibre.config }}:/config"
      - "{{ container_path.calibre.ingest }}:/cwa-book-ingest"
      - "{{ container_path.calibre.library }}:/calibre-library"

    container_name: "cwa"
    hostname: "cwa"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "lldap"

networks:
  traefik:
    external: true
    name: "traefik"
  lldap:
    external: true
    name: "lldap"
