services:
  databasus:
    image: databasus/databasus:latest

    labels:
      traefik.enable: true
      traefik.http.routers.databasus.rule: Host(`databasus.{{ container_domain_base }}`)
      traefik.http.services.databasus.loadbalancer.server.port: "4005"
      # traefik.http.routers.databasus.middlewares: "authelia@docker" # TODO: fix login loop

      dev.dozzle.group: Administration

    environment:
      TZ: "{{ container_tz }}"

    volumes:
      - "{{ container_path.databasus }}:/databasus-data"
      # - "{{ container_path_hdd_pool }}/backup/databasus/backup:/databasus-data/backups"
      # - "{{ container_path_hdd_pool }}/backup/databasus/temp:/databasus-data/temp"
      #
    healthcheck:
      test: [ CMD, curl, -sf, http://127.0.0.1:4005/api/v1/system/health ]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: databasus
    hostname: databasus
    restart: unless-stopped

    networks:
      - traefik
      - postgres
      - immich
      - ntfy

networks:
  traefik:
    external: true
    name: traefik
  postgres:
    external: true
    name: postgres
  immich:
    external: true
    name: immich
  ntfy:
    external: true
    name: ntfy
