services:
  diun:
    image: crazymax/diun:latest

    labels:
      dev.dozzle.group: "Backend"

    environment:
      TZ: "{{ container_tz }}"
      LOG_LEVEL: info # info, debug
      DIUN_PROVIDERS_DOCKER_ENDPOINT: "{{ container_docker_proxy_host }}"
      DIUN_PROVIDERS_DOCKER: "true"
      DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT: "true"
      DIUN_PROVIDERS_DOCKER_WATCHSTOPPED: "true"

      DIUN_PROVIDERS_FILE_FILENAME: "/data/external.yml"

      DIUN_WATCH_WORKERS: "20"
      DIUN_WATCH_SCHEDULE: "0 */24 * * *"
      DIUN_WATCH_JITTER: "30s"

      DIUN_NOTIF_NTFY_ENDPOINT: "http://ntfy:{{ container_webui_port.ntfy }}"
      DIUN_NOTIF_NTFY_TOKEN: "{{ container_diun_ntfy_token }}"
      DIUN_NOTIF_NTFY_TOPIC: "diun"
      DIUN_NOTIF_NTFY_PRIORITY: "2"
      DIUN_NOTIF_NTFY_TAGS: "whale"
      DIUN_NOTIF_NTFY_TIMEOUT: "10s"

    volumes:
      - "{{ container_path.diun }}:/data"

    command: serve

    depends_on:
      docker-proxy:
        condition: "service_healthy"

    container_name: "diun"
    hostname: "diun"
    restart: "unless-stopped"

    networks:
      - "diun"
      - "ntfy"
      - "docker-proxy"

networks:
  diun:
    external: true
    name: "diun"
  ntfy:
    external: true
    name: "ntfy"
  docker-proxy:
    external: true
    name: "docker-proxy"
