services:
  dozzle-agent:
    image: "amir20/dozzle:latest"

    labels:
      dev.dozzle.group: "Backend"

    environment:
      DOZZLE_LEVEL: "info"
      DOZZLE_HOSTNAME: "{{ container_dozzle_hostname }}"

    command: "agent"

    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    group_add:
      - 985

    read_only: true
    tmpfs:
      - "/tmp"

    ports:
      - "7007:7007"

    container_name: "dozzle-agent"
    hostname: "dozzle-agent"
    restart: "unless-stopped"
