services:
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25

    labels:
      dev.dozzle.group: Backend

    command:
      - gotenberg
      - --chromium-disable-javascript=true
      - --chromium-allow-list=file:///tmp/.*

    volumes:
      - /etc/localtime:/etc/localtime:ro

    healthcheck:
      test: [CMD, curl, -sf, http://127.0.0.1:3000/health]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: gotenberg
    hostname: gotenberg
    restart: unless-stopped

    networks:
      - gotenberg

networks:
  gotenberg:
    external: true
    name: gotenberg
