services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest

    labels:
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`homepage.{{ container_domain_base }}`)
      traefik.http.services.homepage.loadbalancer.server.port: "3000"
      traefik.http.routers.homepage.middlewares: authelia@docker

      dev.dozzle.group: Services

    environment:
      PUID: "{{ container_puid }}"
      PGID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      LOG_LEVEL: info # info, debug
      HOMEPAGE_ALLOWED_HOSTS: homepage.{{ container_domain_base }}

    volumes:
      - "{{ container_path.homepage }}:/app/config"

    healthcheck:
      test: [CMD, wget, -q, --tries=1, --spider, http://127.0.0.1:3000/api/healthcheck]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    depends_on:
      docker-proxy:
        condition: service_healthy

    container_name: homepage
    hostname: homepage
    restart: unless-stopped

    networks:
      - traefik
      - docker-proxy

networks:
  traefik:
    external: true
    name: traefik
  docker-proxy:
    external: true
    name: docker-proxy
