services:
  jellyfin:
    image: "lscr.io/linuxserver/jellyfin:latest"
    # image: "jellyfin/jellyfin:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.{{ container_domain_base }}`)
      traefik.http.services.jellyfin.loadbalancer.server.port: "{{ container_webui_port.jellyfin }}"
      traefik.http.routers.jellyfin.middlewares: "authelia@docker"

      dev.dozzle.group: "Frontend"

    environment:
      PUID: "{{ container_puid }}"
      PGID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      DOCKER_MODS: "linuxserver/mods:jellyfin-opencl-intel"

    volumes:
      - "{{ container_path.jellyfin.config }}:/config"
      - "{{ container_path.jellyfin.cache }}:/config/cache"
      - "{{ container_path.jellyfin.dot_cache }}:/config/.cache"
      - "{{ container_path.jellyfin.transcodes }}:/config/data/transcodes"
      - "{{ container_path.media }}/library:/media/library"

    devices:
      - "/dev/dri:/dev/dri"

    container_name: "jellyfin"
    hostname: "jellyfin"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "lldap"

networks:
  traefik:
    external: true
    name: "traefik"
  lldap:
    external: true
    name: "lldap"
