services:
  jellyseerr:
    image: "ghcr.io/fallenbagel/jellyseerr:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: Host(`jellyseerr.{{ container_domain_base }}`)
      traefik.http.services.jellyseerr.loadbalancer.server.port: "{{ container_webui_port.jellyseerr }}"
      traefik.http.routers.jellyseer.middlewares: authelia@docker

      dev.dozzle.group: "Frontend"

    environment:
      TZ: "{{ container_tz }}"
      LOG_LEVEL: "info # info, debug"
      DB_TYPE: "postgres"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_NAME: "jellyseerr"
      DB_USER: "jellyseerr"
      DB_PASS: "{{ container_jellyseerr_db_pass }}"

    volumes:
      - "{{ container_path.jellyseerr }}:/app/config"

    user: "{{ container_puid }}:{{ container_pgid }}"

    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5055/api/v1/status" ]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    init: true

    depends_on:
      postgres:
        condition: "service_healthy"

    container_name: "jellyseerr"
    hostname: "jellyseerr"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "postgres"
      - "ntfy"

networks:
  traefik:
    external: true
    name: "traefik"
  postgres:
    external: true
    name: "postgres"
  ntfy:
    external: true
    name: "ntfy"
