services:
  metube:
    image: ghcr.io/alexta69/metube:latest

    labels:
      traefik.enable: true
      traefik.http.routers.metube.rule: Host(`metube.{{ container_domain_base }}`)
      traefik.http.services.metube.loadbalancer.server.port: "8081"
      traefik.http.routers.metube.middlewares: authelia@docker, sablier-metube@file

      sablier.enable: true
      sablier.group: metube
      traefik.docker.allownonrunning: true

      dev.dozzle.group: Acquisition

    environment:
      PUID: "{{ container_puid }}"
      PGID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      LOGLEBEL: INFO # INFO, DEBUG
      # YTDL_OPTIONS: "{'extractor_args': {'youtube': {'player_client': ['web_embedded','web','tv']}}}"
      MAX_CONCURRENT_DOWNLOADS: "4"
      TEMP_DIR: /tmp
      DOWNLOAD_DIR: /video
      AUDIO_DOWNLOAD_DIR: /audio
      OUTPUT_TEMPLATE: "%(title)s.%(ext)s"
      OUTPUT_TEMPLATE_CHAPTER: "%(title)s/%(title)s - %(section_number)s - %(section_title)s.%(ext)s"
      OUTPUT_TEMPLATE_PLAYLIST: "%(title)s.%(ext)s"

    volumes:
      - "{{ container_path.metube.video }}:/video"
      - "{{ container_path.metube.audio }}:/audio"
      - "{{ container_path.metube.cache }}:/tmp"

    healthcheck:
      test: [ CMD, curl, -sf, http://127.0.0.1:8081 ]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: metube
    hostname: metube
    restart: unless-stopped

    networks:
      - traefik

networks:
  traefik:
    external: true
    name: traefik
