services:
  paperless:
    image: "ghcr.io/paperless-ngx/paperless-ngx:latest"

    labels:
      traefik.enable: true
      traefik.http.routers.paperless.rule: Host(`paperless.{{ container_domain_base }}`)
      traefik.http.services.paperless.loadbalancer.server.port: "{{ container_webui_port.paperless }}"
      traefik.http.routers.paperless.middlewares: authelia@docker

      dev.dozzle.group: "Frontend"

    environment:
      USERMAP_UID: "{{ container_puid }}"
      USERMAP_GID: "{{ container_pgid }}"
      PAPERLESS_URL: "https://paperless.{{ container_domain_base }}"
      PAPERLESS_PORT: "{{ container_webui_port.paperless }}"
      PAPERLESS_TIME_ZONE: "{{ container_tz }}"
      PAPERLESS_OCR_LANGUAGE: "deu"
      PAPERLESS_OCR_LANGUAGES: "eng"
      PAPERLESS_REDIS: "redis://redis:6379/0"
      PAPERLESS_REDIS_PREFIX: "paperless"
      PAPERLESS_DBHOST: "postgres"
      PAPERLESS_DBPORT: "5432"
      PAPERLESS_DBNAME: "paperless"
      PAPERLESS_DBUSER: "paperless"
      PAPERLESS_DBPASS: "{{ container_paperless_db_pass }}"
      PAPERLESS_TIKA_ENABLED: "1"
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: "http://gotenberg:3000"
      PAPERLESS_TIKA_ENDPOINT: "http://tika:9998"
      PAPERLESS_CONSUMER_DISABLE: "1"
      PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"SCOPE":["openid","profile","email"],"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authelia","name":"Authelia","client_id":"paperless","secret":"{{ container_authelia_client_secret_paperless_plain }}","settings":{"server_url":"https://authelia.{{ container_domain_base }}","token_auth_method":"client_secret_basic"}}]}}'
      PAPERLESS_DISABLE_REGULAR_LOGIN: true

    volumes:
      - "{{ container_path.paperless.data}}/data:/usr/src/paperless/data"
      - "{{ container_path.paperless.data}}/media:/usr/src/paperless/media"
      - "{{ container_path.paperless.export}}:/usr/src/paperless/export"

    depends_on:
      postgres:
        condition: "service_healthy"
      redis:
        condition: "service_healthy"
      gotenberg:
        condition: "service_started"
      tika:
        condition: "service_started"

    healthcheck:
      disable: true

    container_name: "paperless"
    hostname: "paperless"
    restart: "unless-stopped"

    networks:
      - "traefik"
      - "postgres"
      - "redis"
      - "gotenberg"
      - "tika"

networks:
  traefik:
    external: true
    name: "traefik"
  postgres:
    external: true
    name: "postgres"
  redis:
    external: true
    name: "redis"
  gotenberg:
    external: true
    name: "gotenberg"
  tika:
    external: true
    name: "tika"
