services:
  pgadmin:
    image: dpage/pgadmin4:9

    labels:
      traefik.enable: true
      traefik.http.routers.pgadmin.rule: Host(`pgadmin.{{ container_domain_base }}`)
      traefik.http.services.pgadmin.loadbalancer.server.port: "80"
      traefik.http.routers.pgadmin.middlewares: authelia@docker, sablier-pgadmin@file

      sablier.enable: true
      sablier.group: pgadmin
      traefik.docker.allownonrunning: true

      dev.dozzle.group: Administration

    environment:
      # Needed for initial creation
      # PGADMIN_DEFAULT_EMAIL: "{{ container_pgadmin_user }}"
      # PGADMIN_DEFAULT_PASSWORD: "{{ container_pgadmin_pass }}"
      PGADMIN_DISABLE_POSTFIX: true

    volumes:
      - "{{ container_path.pgadmin }}:/var/lib/pgadmin"
      - "{{ container_path.pgadmin }}/config_local.py:/pgadmin4/config_local.py"
      - /etc/localtime:/etc/localtime:ro

    healthcheck:
      test: [CMD, wget, -q, --tries=1, --spider, http://127.0.0.1:80]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: pgadmin
    hostname: pgadmin
    restart: unless-stopped

    networks:
      - traefik
      - postgres
      - immich

networks:
  traefik:
    external: true
    name: traefik
  postgres:
    external: true
    name: postgres
  immich:
    external: true
    name: immich
