services:
  pihole:
    image: mpgirro/pihole-unbound:latest

    labels:
      dev.dozzle.group: Admin

    environment:
      PIHOLE_UID: "{{ container_puid }}"
      PIHOLE_GID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      FTLCONF_webserver_port: "{{ container_webui_port.pihole }}s"
      FTLCONF_webserver_api_password: "{{ container_pihole_pass }}"
      FTLCONF_webserver_domain: "{{ container_netserver_domain }}"
      FTLCONF_webserver_session_timeout: "2592000"
      FTLCONF_dns_upstreams: 127.0.0.1#5335
      FTLCONF_dns_piholePTR: NONE
      FTLCONF_dns_domainNeeded: "true"
      FTLCONF_dns_dnssec: "true"
      FTLCONF_dns_listeningMode: LOCAL
      FTLCONF_dns_domain_name: lan
      FTLCONF_dns_rateLimit_count: "1500"
      FTLCONF_dns_rateLimit_interval: "60"
      FTLCONF_dhcp_active: "false"
      FTLCONF_dhcp_start: "{{ container_lan.dhcp_start }}"
      FTLCONF_dhcp_end: "{{ container_lan.dhcp_end }}"
      FTLCONF_dhcp_router: "{{ container_lan.router }}"
      FTLCONF_dhcp_netmask: "{{ container_lan.netmask }}"
      FTLCONF_dhcp_leaseTime: 1d
      FTLCONF_dhcp_ipv6: "true"
      FTLCONF_dhcp_multiDNS: "true"
      FTLCONF_dhcp_hosts: |
{% for host in container_pihole_dhcp_hosts %}
        {{ host }}
{% endfor %}
      FTLCONF_dns_hosts: |
{% for host in container_pihole_dns_hosts %}
        {{ host }}
{% endfor %}
      FTLCONF_dns_cnameRecords: |
{% for host in container_pihole_cname_records %}
        {{ host }}
{% endfor %}

    volumes:
      - "{{ container_path.pihole.pihole }}:/etc/pihole"
      - "{{ container_path.pihole.dnsmasq }}:/etc/dnsmasq.d"

    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - CAP_NET_BIND_SERVICE
      - SYS_NICE

    container_name: pihole
    hostname: pihole
    restart: unless-stopped

    network_mode: host
