services:
  podsync:
    image: ghcr.io/mxpv/podsync:latest

    labels:
      dev.dozzle.group: Acquisition

    environment:
      PODSYNC_YOUTUBE_API_KEY: "{{ config_podsync_youtube_api_key }}"

    volumes:
      - "{{ container_path.podsync.data }}:/app/data/"
      - "{{ container_path.podsync.db }}:/app/db/"
      - "{{ container_path.podsync.config }}/config.toml:/app/config.toml"
      - /etc/localtime:/etc/localtime:ro

    security_opt: [no-new-privileges:true]
    user: "{{ container_puid }}:{{ container_pgid }}"

    healthcheck:
      test: [CMD, wget, -q, --tries=1, --spider, http://localhost:8080]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: podsync
    hostname: podsync
    restart: unless-stopped

    networks:
      - podsync

networks:
  podsync:
    external: true
    name: podsync
