services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest

    labels:
      traefik.enable: true
      traefik.http.routers.radarr.rule: Host(`radarr.{{ container_domain_base }}`)
      traefik.http.services.radarr.loadbalancer.server.port: "{{ container_webui_port.radarr }}"
      traefik.http.routers.radarr.middlewares: authelia@docker

      dev.dozzle.group: Arr

    environment:
      PUID: "{{ container_puid }}"
      PGID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"

    volumes:
      - "{{ container_path.radarr.config }}:/config"
      - "{{ container_path.radarr.cache }}:/config/MediaCover"
      - "{{ container_path.media }}:/media"

    healthcheck:
      test:
        [CMD, wget, -q, --tries=1, --spider, "http://127.0.0.1:{{ container_webui_port.radarr }}"]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: radarr
    hostname: radarr
    restart: unless-stopped

    networks:
      - traefik
      - flaresolverr
      - recyclarr

networks:
  traefik:
    external: true
    name: traefik
  flaresolverr:
    external: true
    name: flaresolverr
  recyclarr:
    external: true
    name: recyclarr
