services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest

    labels:
      dev.dozzle.group: Arr

    environment:
      TZ: "{{ container_tz }}"

    volumes:
      - "{{ container_path.recyclarr.config }}:/config"
      - "{{ container_path.recyclarr.cache }}:/config/cache"

    security_opt: [no-new-privileges:true]
    user: "{{ container_puid }}:{{ container_pgid }}"

    healthcheck:
      test: [CMD, recyclarr, -v]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: recyclarr
    hostname: recyclarr
    restart: unless-stopped

    networks:
      - recyclarr

networks:
  recyclarr:
    external: true
    name: recyclarr
