services:
  samba:
    image: dockurr/samba:latest

    labels:
      dev.dozzle.group: Services

    environment:
      UID: "{{ container_puid }}"
      GID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      NAME: Share
      USER: "{{ container_samba_user }}"
      PASS: "{{ container_samba_pass }}"

    volumes:
      - "{{ container_path.samba }}:/storage"

    ports:
      - 445:445

    healthcheck:
      test: [CMD-SHELL, smbclient --configfile=/etc/samba.conf -L \\localhost -U \% -m SMB3]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: samba
    hostname: samba
    restart: unless-stopped

    networks:
      - samba

networks:
  samba:
    external: true
    name: samba
