services:
  shelfmark:
    image: ghcr.io/calibrain/shelfmark:latest

    labels:
      sablier.enable: true
      sablier.group: shelfmark
      traefik.docker.allownonrunning: true

      dev.dozzle.group: Acquisition

    environment:
      UID: "{{ container_puid }}"
      GID: "{{ container_pgid }}"
      TZ: "{{ container_tz }}"
      LOGLEVEL: info # debug, info, warning, error, critical

    volumes:
      - "{{ container_path.shelfmark.config }}:/config"
      - "{{ container_path.shelfmark.covers }}:/config/covers"
      - "{{ container_path.calibre.ingest }}:/cwa-book-ingest"
      - "{{ container_path.media }}:/media"

    depends_on:
      gluetun:
        condition: service_healthy

    healthcheck:
      test: [CMD, curl, -sf, http://localhost:8084/api/health]
      interval: 300s
      timeout: 30s
      retries: "3"
      start_period: 60s
      start_interval: 2s

    container_name: shelfmark
    restart: unless-stopped

    network_mode: service:gluetun
