services:
  tika:
    image: "docker.io/apache/tika:latest"

    labels:
      dev.dozzle.group: "Backend"

    volumes:
      - "/etc/localtime:/etc/localtime:ro"

    container_name: "tika"
    hostname: "tika"
    restart: "unless-stopped"

    networks:
      - "tika"

networks:
  tika:
    external: true
    name: "tika"
