services:
  traefik:
    image: "traefik:v3.6"

    environment:
      TZ: "{{ container_tz }}"
      CF_DNS_API_TOKEN: "{{ container_cf_dns_api_token }}" # NOTE: Use secrets
      DOCKER_HOST: "{{ container_docker_proxy_host }}"

    labels:
      traefik.enable: true

      # Dashboard
      traefik.http.routers.traefik.rule: >
        Host(`traefik.{{ container_domain_base }}`) && PathPrefix(`/dashboard`) || Host(`traefik.{{ container_domain_base }}`) && PathPrefix(`/api`) || Host(`traefik.{{ container_domain_base }}`) && Path(`/`)
      traefik.http.routers.traefik.entrypoints: "websecure"
      traefik.http.routers.traefik.service: "api@internal"
      traefik.http.routers.traefik.middlewares: "authelia@docker,traefik-dashboard-redirect"
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.regex: "^/$"
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.replacement: "/dashboard/"
      traefik.http.middlewares.traefik-dashboard-redirect.redirectregex.permanent: "true"

      # Wildcard cert configuration
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.tls.certresolver: "cloudflare"
      traefik.http.routers.traefik.tls.domains[0].main: "{{ container_domain_base }}"
      traefik.http.routers.traefik.tls.domains[0].sans: "*.{{ container_domain_base }}"

      # App Labels
      dev.dozzle.group: "Admin"

    volumes:
      - "{{ container_path.traefik.config }}/acme.json:/certs/acme.json:rw"
      - "{{ container_path.traefik.config }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ container_path.traefik.config }}/dynamic:/etc/traefik/dynamic:rw"
      - "{{ container_path.traefik.plugins }}:/plugins-storage:rw"

    ports:
      - "80:80"
      - "443:443"

    security_opt: [ "no-new-privileges:true" ]
    user: "{{ container_puid }}:{{ container_pgid }}"

    depends_on:
      docker-proxy:
        condition: "service_healthy"
      # Middleware dependencies
      authelia:
        condition: "service_started"
      sablier:
        condition: "service_started"

    healthcheck:
      test: [ "CMD", "traefik", "healthcheck" ]
      interval: "60s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "5s"

    container_name: "traefik"
    hostname: "traefik"
    restart: "unless-stopped"

    extra_hosts:
      - "host.docker.internal:{{ container_traefik_network.gateway }}"

    networks:
      traefik:
        ipv4_address: "{{ container_traefik_network.traefik }}"
      docker-proxy:
      lldap:
      sablier:

networks:
  traefik:
    external: true
    name: "traefik"
  docker-proxy:
    external: true
    name: "docker-proxy"
  lldap:
    external: true
    name: "lldap"
  sablier:
    external: true
    name: "sablier"
