---
- name: firewall | Reset and disable UFW
  community.general.ufw:
    state: reset
  when: common_firewall_reset
  tags: [common, firewall]

- name: firewall | Enable and start UFW
  community.general.ufw:
    state: enabled
  tags: [common, firewall]

- name: firewall | Set default logging level
  community.general.ufw:
    logging: low
  notify: Reload UFW
  tags: [common, firewall]

- name: firewall | Set default policy for in/out/routed
  community.general.ufw:
    default: "{{ item.default }}"
    direction: "{{ item.direction }}"
  loop:
    - { default: allow, direction: outgoing }
    - { default: deny, direction: incoming }
    - { default: deny, direction: routed }
  tags: [common, firewall]
  notify: Reload UFW

- name: firewall | Allow defined incoming tcp/udp ports
  community.general.ufw:
    rule: allow
    direction: in
    proto: "{{ item.proto }}"
    port: "{{ item.port }}"
    comment: "{{ item.comment }}"
  loop: "{{ common_firewall_allowed_tcp_udp_ports }}"
  tags: [common, firewall]
  notify: Reload UFW
