---
- name: general | Ensure default editor is vim
  community.general.alternatives:
    name: editor
    path: "/usr/bin/vim.tiny"
  tags: [common, general]

- name: general | Ensure timezone is Europe/Berlin
  community.general.timezone:
    name: Europe/Berlin
  notify: Restart cron
  tags: [common, general]

- name: general | Ensure en_US.UTF-8 locale exists
  community.general.locale_gen:
    name: en_US.UTF-8
    state: present
  tags: [common, general]

- name: general | Get localectl status
  ansible.builtin.command: localectl status
  register: common_localectl_status
  when: "'Debian' != ansible_facts['distribution']"
  changed_when: false
  tags: [common, general]

- name: general | Verify LANG is en_US.UTF-8
  ansible.builtin.debug:
    msg: LANG is not en_US.UTF-8
  when:
    - "common_localectl_status.stdout is defined"
    - "'System Locale: LANG=en_US.UTF-8' not in common_localectl_status.stdout_lines"
  changed_when: true
  notify: Set LANG
  tags: [common, general]

- name: general | Set XKG
  ansible.builtin.lineinfile:
    path: /etc/defaults/keyboard
    regexp: "{{ item.regex }}"
    line: "{{ item.value }}"
    state: present
    owner: root
    group: root
    mode: "0644"
    create: true
  loop:
    - regex: ^#?XKBMODEL=
      value: XKBMODEL=pc105
    - regex: ^#?XKBLAYOUT=
      value: XKBLAYOUT=de
    - regex: ^#?XKBVARIANT=
      value: XKBVARIANT=nodeadkeys
  tags: [common, general]
