---
- name: backups | Copy snapraid config
  ansible.builtin.template:
    src: "{{ role_path }}/templates/snapraid.conf.j2"
    dest: /etc/snapraid.conf
    mode: "0644"
    owner: root
    group: root
  tags: [homeserver, backup]

- name: backups | Set up daily snapraid parity backup
  ansible.builtin.cron:
    name: Daily snapraid parity backup
    user: root
    minute: "0"
    hour: "6"
    job: snapraid sync
  tags: [homeserver, backup]
