---
- name: cache_mover | Clone mergerfs-cache-mover git repo
  become: false
  ansible.builtin.git:
    repo: https://github.com/MonsterMuffin/mergerfs-cache-mover.git
    dest: /home/user/repos/github/mergerfs-cache-mover
    version: main
    force: true
    update: true
  tags: [homeserver, cache_mover]

- name: cache_mover | Install mergerfs-cache-mover requirements
  become: false
  ansible.builtin.pip:
    requirements: /home/user/repos/github/mergerfs-cache-mover/requirements.txt
    virtualenv: /home/user/repos/github/mergerfs-cache-mover/venv
    virtualenv_command: python3 -m venv
  tags: [homeserver, cache_mover]

- name: cache_mover | Copy mergerfs-cache-mover config
  ansible.builtin.template:
    src: "{{ role_path }}/templates/mergerfs-cache-mover-config.yml.j2"
    dest: /home/user/repos/github/mergerfs-cache-mover/config.yml
    owner: user
    group: user
    mode: "0644"
  tags: [homeserver, cache_mover]

- name: cache_mover | Setup daily mergerfs-cache-mover cronjob
  ansible.builtin.cron:
    name: mergerfs-cache-mover daily run
    user: root
    job: >
      /home/user/repos/github/mergerfs-cache-mover/venv/bin/python
      /home/user/repos/github/mergerfs-cache-mover/cache-mover.py
    weekday: "{{ homeserver_mergerfs_cache_mover.cron.weekday }}"
    hour: "{{ homeserver_mergerfs_cache_mover.cron.hour }}"
    minute: "{{ homeserver_mergerfs_cache_mover.cron.minute }}"
  tags: [homeserver, cache_mover]
