services:
  docker-proxy:
    image: "lscr.io/linuxserver/socket-proxy:latest"

    labels:
      dev.dozzle.group: "Backend"

    environment:
      TZ: "{{ container_timezone }}"
      LOG_LEVEL: "notice" # notice, info, debug
      DISABLE_IPV6: 0
      ALLOW_START: 1
      ALLOW_STOP: 1
      ALLOW_RESTARTS: 1
      AUTH: 0
      BUILD: 0
      COMMIT: 0
      CONFIGS: 0
      CONTAINERS: 1
      DISTRIBUTION: 0
      EVENTS: 1
      EXEC: 0
      IMAGES: 1
      INFO: 1
      NETWORKS: 0
      NODES: 0
      PING: 1
      PLUGINS: 0
      POST: 1
      SECRETS: 0
      SERVICES: 0
      SESSION: 0
      SWARM: 0
      SYSTEM: 0
      TASKS: 0
      VERSION: 1
      VOLUMES: 0

    read_only: true
    tmpfs:
      - "/run"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

    ports:
      - "127.0.0.1:2375:2375"

    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:2375/_ping" ]
      interval: "300s"
      timeout: "30s"
      retries: "3"
      start_period: "60s"
      start_interval: "2s"

    container_name: "docker-proxy"
    hostname: "docker-proxy"
    restart: "unless-stopped"

    networks:
      - "docker-proxy"
