---
- name: configs | Deploy homepage configuration
  ansible.builtin.template:
    src: "{{ role_path }}/templates/config/homepage-{{ item }}.j2"
    dest: "{{ services_path.homepage }}/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - bookmarks.yaml
    - docker.yaml
    - services.yaml
    - settings.yaml
  tags: [services, configs]
