---
- name: containers | Ensure bridge networks exist
  community.docker.docker_network:
    name: "{{ item }}"
    driver: bridge
    state: present
  when: item in services_list
  loop: "{{ services_bridge_networks }}"
  tags: [services, containers]

- name: containers | Ensure internal network exists
  community.docker.docker_network:
    name: "{{ item }}"
    driver: bridge
    internal: true
    state: present
  when: item in services_list
  loop: "{{ services_internal_networks }}"
  tags: [services, containers]

- name: containers | Render jinja compose templates locally
  ansible.builtin.template:
    src: "{{ role_path }}/templates/compose/{{ item }}.compose.yml.j2"
    dest: "{{ playbook_dir }}/.ansible/templates/{{ item }}.compose.yml"
    mode: "0640"
    owner: user
    group: user
  when: item in services_list
  loop: "{{ services_list }}"
  delegate_to: localhost
  tags: [services, containers, compose]

- name: containers | Copy locally rendered compose templates to remote
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/.ansible/templates/{{ item }}.compose.yml"
    dest: "{{ services_path.compose }}/{{ item }}.compose.yml"
    mode: "0600"
    owner: "{{ services_username }}"
    group: "{{ services_username }}"
  when: item in services_list
  loop: "{{ services_list }}"
  tags: [services, containers, compose]

- name: containers | Select compose files
  ansible.builtin.set_fact:
    services_list_compose_files:
      "{{ services_list_compose_files | default([]) + [item | string + '.compose.yml']
      }}"
  loop: "{{ services_list }}"
  tags: [services, containers, compose]

- name: containers | Run docker compose with all found compose files
  community.docker.docker_compose_v2:
    project_src: "{{ services_path.compose }}"
    files: "{{ services_list_compose_files }}"
    state: present
  tags: [services, containers, compose]
